<!DOCTYPE html>
<html>
  <head>
    <title>Casanovhack Wisdom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
    <style  type="text/css">
        html, body { height: 100%; width: 100%; }

        #pigliotutto {
            padding-top: 70px;
            height: 100%;
            width: 100%;
            min-height: 500px;
            display: table;
            text-align: center;
        }

        body, html {
               height: 100%;
               margin: 0;
               padding: 0;
            }

        #pproverbio {
                font-size: 30px;
                font-family: Georgia, 'Cutive Mono', serif;
                display: table-cell;
                font-style: italic;
                vertical-align: middle;
                text-align: center;
            }
		a:link, a:visited {
			background-color: #f44336;
			color: white;
			padding: 14px 25px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
		}


		a:hover, a:active {
			background-color: red;
		}
    </style>
  </head>
  <body>
    <div id="pigliotutto"> <p id="pproverbio">{{ robba|safe }}</p> <p><a href="/?p={{ seed }}">permalink</a></p></div>
  </body>
</html>
